html {
  font-size: 18px;
  line-height: 1.4;
  width: 100%;
  font-family: Helvetica;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > * {
  width: 100%;
  max-width: 960px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: cadetblue;
  margin-top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 2rem;
}

.menu {
  display: flex;
  margin: 1rem 0;
}

.menu li {
  margin-right: 2rem;
}

.alt_menu {
  display: none;
  margin: 1rem 2rem;
}

.ad {
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  background-color: white;
  text-transform: uppercase;
  position: relative;
  left: 2rem;
  display: block;
}

.content {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  display: flex;
  justify-content: space-between;
  width: 25.5rem;
}

.gallery_item {
  height: 8em;
  display: flex;
  flex-direction: column;
  max-width: 5rem;
  justify-content: space-around;
  align-items: center;
}

.horizontal {
  width: 5rem;
}

.vertical {
  width: 3.5rem;
}

.points {
  margin-top: 3rem;
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.point_item {
  width: 46.5%;
}

.point_heading {
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: cadetblue;
}

.point p {
  width: 100%;
}

.footer {
  margin-top: 5rem;
}

.copyright {
  display: flex;
  background-color: azure;
  align-items: center;
}

.copyright img {
  height: 1.5rem;
  margin: 4rem 1rem 4rem 1rem;
}

@media only screen and (max-width: 1024px) {
  .container > * {
    max-width: 100%;
  }

  .navigation {
    margin-top: 0;
  }

  .header {
    height: 22rem;
    background-position: 30%;
  }

  .ad {
    left: 0;
    position: static;
    margin-top: 5rem;
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }

  h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 640px) {
  .menu {
    display: none;
  }

  .alt_menu {
    display: flex;
  }

  .header {
    height: 17rem;
    background-position: 20%;
  }

  .ad {
    margin-top: 9rem;
    width: 100%;
    padding: 1rem 0;
  }

  .banner {
    align-items: stretch;
  }

  .content {
    margin-top: 3.77rem;
  }

  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .gallery_item {
    margin-bottom: 1.54rem;
    font-size: 0.77rem;
    text-align: center;
  }

  .points {
    margin-top: 3.77rem;
    width: 100%;
    flex-direction: column;
  }

  .point_item {
    width: 100%;
    margin-bottom: 4rem;
    font-size: 0.77rem;
  }

  .point_heading {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .footer {
    margin-top: 0;
  }

  .copyright {
    justify-content: space-around;
  }

  .copyright span {
    display: none;
  }

  .logo span {
    display: none;
  }
}
